PROJETOs/HS - 1º Projeto - Python/chave.py
EXERCÍCIOs/Desafio 30 dias Python/Exercicios_Python_Enunciados_e_Bases.docx
EXERCÍCIOs/Desafio 30 dias Python/Exercicios_Python_Enunciados_e_Bases.docx
EXERCÍCIOs/Desafio 30 dias Python/Resultado.png
EXERCÍCIOs/Desafio 30 dias Python/Exercicios_Python_Enunciados_e_Bases.docx
EXERCÍCIOs/Desafio 30 dias Python/Exercicios_Python_Enunciados_e_Bases.docx
EXERCÍCIOs/Desafio 30 dias Python/Exercicios_Python_Enunciados_e_Bases.docx
EXERCÍCIOs/Desafio 30 dias Python/Exercicios_Python_Enunciados_e_Bases.docx
